{% extends "base1.html" %}

{% load static %}

{% block title %}Japan-Tuner{% endblock %}

{% block content %} 

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        
        <div class="carousel-inner">

            <style>
                /* Estilos para la notificación de cookies */
                #cookie-notification {
                    position: fixed;
                    top: 250px; /* Ajustado para mover más abajo */
                    right: 20px;
                    width: 250px;
                    background-color: #000000; /* Cambiado a fondo negro */
                    border: 1px solid #cccccc;
                    border-radius: 5px;
                    z-index: 9999;
                    display: {{ show_cookie_notification }};
                    padding: 20px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                    color: #ffffff; /* Cambiado a color blanco para texto */
                }
            
                #cookie-tab {
                    background-color: #007bff;
                    color: #ffffff;
                    padding: 10px;
                    text-align: center;
                    cursor: pointer;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                }
            
                #cookie-content {
                    padding: 10px;
                }
            
                #cookie-content p {
                    margin: 0;
                }
            
                #cookie-content button {
                    background-color: #007bff;
                    color: #ffffff;
                    border: none;
                    padding: 5px 10px;
                    cursor: pointer;
                    border-radius: 3px;
                }
            
                #cookie-content button:hover {
                    background-color: #0056b3;
                }
            </style>

            <div id="cookie-notification" style="display:{{ show_cookie_notification }};">
                <div id="cookie-tab" onclick="toggleCookieNotification()">
                    <p>Cookies</p>
                </div>
                <div id="cookie-content">
                    <p>Este sitio web utiliza cookies para mejorar la experiencia del usuario. Al utilizar nuestro sitio web, aceptas todas las cookies de acuerdo con nuestra política de privacidad.</p>
                    <button onclick="acceptCookies()">Aceptar</button>
                    <button onclick="rejectCookies()">Denegar</button>
                </div>
            </div>

            <script>
                function acceptCookies() {
                    document.getElementById('cookie-notification').style.display = 'none';
                    document.cookie = 'cookies_accepted=true; expires={{ expires_date }}; path=/';
                }

                function rejectCookies() {
                    document.getElementById('cookie-notification').style.display = 'none';
                    // Aquí puedes agregar tu lógica para manejar la denegación de cookies
                    // Por ejemplo, puedes establecer una cookie para registrar la denegación
                    document.cookie = 'cookies_rejected=true; expires={{ expires_date }}; path=/';
                }
              </script>

            <div class="carousel-item active">
                <img src="{% static 'img/s2k.jpg' %}" alt="Imagen 1" class="d-block w-100" style="max-height: 600px;">
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/nissan200sx.jpg' %}" alt="Imagen 2" class="d-block w-100" style="max-height: 600px;">
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/gtr.jpeg' %}" alt="Imagen 3" class="d-block w-100" style="max-height: 600px;">
            </div>
            
        </div>
        
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
        </a>
    </div>
    
    <br>

    <br>

    <br>

    <br>

    <div class="my-1"></div>
    
    <div class="card-deck">
        <div class="card">
            <a href="{% object_list = Llanta.objects.filter(
                Q(marca__icontains=Japan Racing) %}"><img src="{% static 'img/jr.png' %}" class="card-img-top" alt="..."></a>
        </div>
        <div class="card">
            <img src="{% static 'img/omp.jpg' %}" class="card-img-top" alt="...">
        </div>
        <div class="card">
            <img src="{% static 'img/hks.png' %}" class "card-img-top" alt="...">
        </div>
        <div class="card">
            <img src="{% static 'img/origin.png' %}" class="card-img-top" alt="...">
        </div>
        <div class="card">
            <img src="{% static 'img/bc.png' %}" class="card-img-top" alt="...">
        </div>

        

    </div>

    <br>    
    <div class="custom-div" style="width: 2000  px; height: 620px; background-color: lightgray;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-left"> 
                    <h2>Mejores Proyectos</h2>
                    <p>Aquí se mostraran los mejores proyectos de Japan-Tuner.</p>
                    <br>
                    <p>Los proyectos se elegiran a base de las mayores puntuaciones de cada proyecto semanalmente.</p>
                </div>
                <div class="col-md-6">
                    <img src="" alt="Mejores Proyectos" style="width: 100%; height: 100%; margin: 20px 0;"> <!-- Agregar margen a la imagen -->
                </div>
            </div>
        </div>
    </div>
    


    <footer class="bg-dark text-light mt-4 py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="mb-3">Síguenos en redes sociales</h4>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-light"><i class="fab fa-facebook"></i> Facebook</a></li>
                        <li><a href="#" class="text-light"><i class="fab fa-twitter"></i> Twitter</a></li>
                        <li><a href="#" class="text-light"><i class="fab fa-instagram"></i> Instagram</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h4 class="mb-3">Contacto</h4>
                    <ul class="list-unstyled">
                        <li><i class="fas fa-map-marker-alt"></i> Dirección: 123 Calle Principal, Ciudad</li>
                        <li><i class="fas fa-phone"></i> Teléfono: +123 456 789</li>
                        <li><i class="fas fa-envelope"></i> Correo Electrónico: japantunercontacto@gmail.com</li>
                    </ul>
                    <h4 class="mt-4 mb-3">Envíanos un mensaje</h4>
                    <form action="#" method="post">
                        <div class="form-group">
                            <label for="nombre">Nombre:</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Correo Electrónico:</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="mensaje">Mensaje:</label>
                            <textarea class="form-control" id="mensaje" name="mensaje" rows="4" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>

        <script type="text/javascript" src={% static "cookie_consent/cookiebar.js" %}></script>

        </script>
    </footer>
{% endblock %}